html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.material-icons{
  margin: 10px;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 60px;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.material-icons:hover{
  background:rgba(0, 0, 0, 0.6);
}

.content{
  color: #333;
  position: fixed;
  opacity: 0.1;
  top: 0;
  right: 0;
  width: 200px;
  background:rgba(0, 0, 0, 0.3);
  opacity: 0; 
  pointer-events: none;  
  transform: translate3d(0,-400px,0);
  transition:transform .8s;
  text-align: left;
}

.content h1{
  padding:60px 0 0 10px;
  font-size: 24px;
  color: #333;
  line-height: 48px;
  font-weight: bold;
}

.content ul{
  list-style: none;
  padding: 0;
}

.content li{
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.content li:hover{
  background:rgba(100, 100, 100, 0.3);
}

.contentBackground{
  height: 330px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  margin-top: -17px;
}


.content.show{
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.top{
  width: 100%;
  height: auto;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topLogo{
  text-align: center;
  line-height:350px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 245, 245);;
}

.topLogo h1{
  margin: 0;
}
.profile{
  margin: 0;
  text-align: center;
  background: rgb(255, 240, 240);
  color: #333;
}

.profile h1{
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0;
  margin: 0;
}

.profileDeta img{
  width: 60%;
  height: auto;
  border-radius: 30%;
}

.profileName dl{
  display: block;
  width: 300px;
  text-align: left;
  margin:20px auto;
  line-height: 1.8;
}
dt{
  float: left;
}

dt::after{
  content: "："
}

.profileJob{
  width: 80%;
  margin: 0 auto;
}

.profileJob  p{
  text-align: center;
  margin: 0;
  padding-bottom:40px;
  line-height: 1.3;
}

.skill{
  background: rgba(88, 20, 20, 0.80);
  padding: 40px 0;
}

.skill h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 245, 245);;
  margin: 0;
}

.skillDetail{
  margin: 30px auto;
  width: 80%;
  height: auto;
  background: rgb(255, 245, 245);;
  border-radius: 5px;
  padding: 0;
  color: #333;
}


.skillDetail h2{
  margin: 0;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.skillDetail p{
  margin: 0;
  padding: 16px 16px;
  line-height: 1.3;
}

.skillDetail a{
  padding-bottom: 10px;
  text-align: right;
}

.skillMenu{
 display: block;
 text-align: right;
 font-size: 12px;
 margin-top: 20px;
 margin-bottom: 0;
}

.works{
  text-align: center;
  background: rgb(255, 245, 245);
  padding: 40px 0;
  color: #333;
}

.works h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.worksDetail p{
  margin: 0 5px;
}


.works img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-decoration: underline;
}

.works img:hover{
  opacity: .6;
}

.workBtn a{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: 0px 1px 16px  rgba(0,0,0,0.2);
  color:rgb(255, 245, 245);;
  background:rgba(88, 20, 20, 0.80);
  /* background:rgb(255, 245, 245);;
  color:rgba(88, 20, 20, 0.80); */
}

.workBtn a:hover{
  color: rgba(88, 20, 20, 0.80);
  background: rgb(255, 245, 245);;
  /* background: rgba(88, 20, 20, 0.80);
  color: rgb(255, 245, 245);; */
}

.worksDetail{
  width: 80%;
  margin: 30px auto;
  padding-bottom: 16px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 16px  rgba(0,0,0,0.2);
}

.worksElement{
  margin: auto;
  width: 100%;
  border-radius: 5px;
  background: #fff;
}


@media(min-width:700px){

  .topLogo{
    font-size: 36px;
  }

  .profile{
    padding:0 40px 20px;
  }

  .profileList > dl{
    padding-left: 40px;
    word-wrap: break-word;
  }

  .profileName{
    justify-content: center;
    margin: 0 15px;
    line-height: 35px;
    width: 40%;
  }

  .profileName img{
    width: 80%;
  }

  .profileJob{
    width: 40%;
    margin: 0 15px;
  }

  .profileJob p{
    /* margin: 0 20px 20px ; */
  }

  .profileDeta{
    display: flex;
    justify-content: center;
  }

  
  .skill{
    padding:40px;
  }
  
  .skill h1{
    padding-bottom: 40px;
  }
  
  .skillDetail{
    margin: 15px;
  }
  
  .skillPc{
    display: flex;
    justify-content: center;
  }
  
  .skillDetail{
    width: 40%;
    padding:10px 0;
  }
  
  .works{
    padding:40px;
  }

  .works h1{
    padding-bottom: 40px;
  }
  
  .worksPc{
    display: flex;
    justify-content: center;
    line-height: 35px;
    width: 100%;
    margin: 0 auto;
  }

  .worksDetail{
    width: 40%;
    margin: 15px 15px;
    border: 1px #f0f0f0 solid;
    border-radius: 5px;
  }

}