html{
  scroll-behavior: smooth;
}

head{
  /* font-family: 'Courier New', Courier, monospace; */
}

body{
  margin: 0;
  padding: 0;
  /* font-family: 'Courier New', Courier, monospace; */
}

.material-icons{
  margin: 10px;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 60px;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.material-icons:hover{
  background:rgba(0, 0, 0, 0.6);
}

.content{
  position: fixed;
  opacity: 0.1;
  top: 0;
  right: 0;
  width: 200px;
  background:rgba(0, 0, 0, 0.3);
  opacity: 0; 
  pointer-events: none;  
  transform: translate3d(0,-400px,0);
  transition:transform .8s;
  text-align: left;
}

.content h1{
  padding:60px 0 0 10px;
  font-size: 24px;
  color: #000;
  line-height: 48px;
  font-weight: bold;
}

.content ul{
  list-style: none;
  padding: 0;
}

.content li{
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.content li:hover{
  background:rgba(100, 100, 100, 0.3);
}

.contentBackground{
  height: 330px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  margin-top: -17px;
}


.content.show{
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.top{
  width: 100%;
  height: auto;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topLogo{
  text-align: center;
  line-height:350px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 250, 250);;
}

.topLogo h1{
  margin: 0;
}
.profile{
  margin: 0;
  text-align: center;
  background: rgb(255, 250, 250);
}

.profile h1{
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0;
  margin: 0;
}

.profileDeta img{
  width: 60%;
  height: auto;
  border-radius: 30%;
}

.profileName ul{
  display: block;
  width: 300px;
  text-align: left;
  margin:20px auto;
  line-height: 1.8;
}

.profileJob p{
  margin: 60px;
  line-height: 1.6;
}

.skill{
  /* text-align: center; */
  /* background: rgba(76, 204, 62, 0.72); */
  background: rgba(88, 20, 20, 0.80);
  padding: 40px 0;
}

.skill h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 250, 250);;
  margin: 0;
}

.skillDetail{
  margin: 30px auto;
  width: 60%;
  height: auto;
  background: rgb(255, 250, 250);;
  border-radius: 10px;
  padding: 10px;
}


.skillDetail h2{
  margin: 0;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.skillDetail p{
  margin: 0;
  padding: 16px 10px;
}

.skillDetail a{
  padding-bottom: 10px;
  text-align: right;
}

.skillMenu{
 display: block;
 text-align: right;
 font-size: 12px;
 margin-top: 20px;
 margin-bottom: 0;
}

.works{
  text-align: center;
  background: rgb(255, 250, 250);
  padding: 40px 0;
}

.works h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}


.works img{
  width: 90%;
  height: auto;
  border-radius: 4px;
  border: 2px solid #000;
}

.works img:hover{
  opacity: .6;
}

.workBtn a{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: #000 solid 1px;
  color:rgb(255, 250, 250);;
  background:rgba(88, 20, 20, 0.80);
  /* background:rgb(255, 250, 250);;
  color:rgba(88, 20, 20, 0.80); */
}

.workBtn a:hover{
  color: rgba(88, 20, 20, 0.80);
  background: rgb(255, 250, 250);;
  /* background: rgba(88, 20, 20, 0.80);
  color: rgb(255, 250, 250);; */
}

.works div{
  margin: 30px auto;
  border: 3px #000 solid;
  width: 60%;
  border-radius: 5px;
}

@media(min-width:600px){

  .topLogo{
    font-size: 36px;
  }

  .profile{
    padding-bottom: 20px;
  }

  .profileList > ul{
    white-space: nowrap;
  }


  .profileName{
    justify-content: center;
    margin: 0 auto;
    line-height: 35px;
    width: 40%;
  }

  .profileName img{
    width: 80%;
  }

  .profileJob{
    width: 40%;
    margin: 0 auto;
  }

  .profileJob p{
    margin: 0 20px 20px ;
  }

  .profileDeta{
    display: flex;
    justify-content: center;
  }

  .ex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 35px;
  }

  .skill{
    padding: 40px 0;
  }

  .skillPc{
    display: flex;
  }

  .skillDetail{
    width: 40%;
    padding:10px 0;
  }

  .works div{
    margin: 30px auto;
    border: 3px #000 solid;
    width: 40%;
    border-radius: 5px;
  }
}